html,
body {
  height: 100%;
  margin: 0px;
  padding: 0;
}

div {
  color: brown;
  padding: 10px 20px 0px 15px;
  border: 2px solid black;
  margin: 0px 30px 20px 15px;
  width: fit-content;
  display: inline-block;
}

body > :first-child {
  height: 300px;
  width: 50%;
}

div:last-of-type:hover {
  background-color: lightcoral;
}
